.button-primary{
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}
.box_tbl{
    width: 100%;
}
.box_tbl td input,.box_tbl td select{
    padding: 3px;
    font-family: "Open Sans",Arial;
    font-size: 1em;
    border-radius: 3px;
}
#wptb{
    width: 600px;
    min-width: 600px;
    font-family: 'Lucida Grande',Arial;    
}

.sbox{
    border:2px solid #dedede;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fafafa;
    margin-bottom: 5px;
}
.sbcont{
    padding: 7px;
}  
.promo{
    width:97%;
    overflow:hidden;
    margin:5px;
    background: #fafafa;
    border: 1px solid #ccc;
    display: block;
    float: left;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-decoration:none;
}
.promo h3{
    margin: 0px;
    background: #ccc;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:5px;
    text-decoration: none;
    color:#333
}
.promo img{
    padding-top: 10px;
    padding-bottom: 10px
}
#wptb label{
    font-weight: bold;
    padding-bottom: 10px;
}